<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"></var>
    <title>注文確認画面</title>
</head>

<body>
  <!-- 共通ヘッダー -->
  <div th:replace="~{fragments/header :: header}"></div>
  
  <div class="container mt-4">
    <h1>注文確認</h1>
    <table class="table table-hover align-middle">
      <thead>
        <tr>
            <th>商品名</th>
            <th>価格</th>
            <th>数量</th>
            <th>小計</th>
        </tr>
     </thead>
    <tbody>
    <tr th:each="cart : ${cartItems}">
      <td th:text="${cart.product.name}"></td>
      <td th:text="${cart.product.price} + '円'"></td>
      <td th:text="${cart.quantity}"></td>
      <td th:text="${cart.product.price * cart.quantity} + '円'"></td>
    </tr>
    </tbody>
  </table>
  <div class="text-end mt-3">
    <h4>合計：<span th:text="${totalPrice}"></span> 円</h4>
  </div>

  <br>
  <div class="d-flex justify-content-between mt-4">
    <a th:href="@{/cart}" class="btn btn-outline-secondary">
      カートへ戻る
    </a>
    <form th:action="@{/orders}" method="post">
      <button class="btn btn-success">
        注文確定
      </button>
    </form>
  </div>
</div>
</body>
</html>