<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注文確認画面</title>
</head>

<body>
<h1>注文確認</h1>
<form th:action="@{/cart/deleteAll}" method="post"
      onsubmit="return confirm('カート内の商品をすべて削除しますか？');">
    <button type="submit">カートクリア</button>
</form>

<table border="1">
    <thead>
        <tr>
            <th>商品名</th>
            <th>価格</th>
            <th>数量</th>
            <th>小計</th>
            <th>操作</th>
        </tr>
    </thead>

    <tbody>
    <tr th:each="cart : ${cartItems}">
      <td th:text="${cart.product.name}"></td>
      <td th:text="${cart.product.price} + '円'"></td>
      <td>
        <form th:action="@{/cart/update}" method="post">
            <input type="hidden" name="cartId" th:value="${cart.id}">
            <input type="number" name="quantity" th:value="${cart.quantity}" min="1">
            <button type="submit">更新</button>
        </form>
      </td>
      <td th:text="${cart.product.price * cart.quantity} + '円'"></td>
      <td>
        <form th:action="@{/cart/delete}" method="post">
          <input type="hidden" name="cartId" th:value="${cart.id}">
          <button type="submit">削除</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>

  <br>
  <a th:href="@{/products}">
    商品一覧へ戻る
  </a>
  <form th:action="@{/orders}" method="post">
    <button type="submit">注文確定</button>
</form>
</body>
</html>