<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
  <title>商品一覧</title>
</head>

<body> 
   <!-- 共通ヘッダー -->
  <div th:replace="~{fragments/header :: header}"></div>
  
  <div class="container mt-4">
  <h1 class="mb-4">商品一覧</h1>
  <table class="table table-hover align-middle">
    <tr>
      <th>商品名</th>
      <th>価格</th>
    </tr>

    <tr th:each="product : ${products}">
      <td>
        <a th:href="@{/products/{id}(id=${product.id})}"
           th:text="${product.name}">
        </a>
      </td>
      <td th:text="${product.price} + ' 円'"></td>
    </tr>
  </table>
  </div>
</body>
</html>