<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>商品一覧</title>
</head>

<body> 
  <nav>
    <a th:href="@{/products}">TopPage</a> |
    <a th:href="@{/cart}">カート</a> |
    <a th:href="@{/orders/history}">注文履歴</a>
  </nav>
  <hr>

  <h1>商品一覧</h1>
  <table>
    <tr>
      <th>ID</th>
      <th>商品名</th>
      <th>価格</th>
    </tr>

    <tr th:each="product : ${products}">
      <td>
        <a th:href="@{/products/{id}(id = ${product.id})}" 
          th:text="${product.id}">
        </a>
      </td>
      <td th:text="${product.name}"></td>
      <td th:text="${product.price} + ' 円'"></td>
    </tr>
  </table>

  <form th:action="@{/products}" method="post" th:object = "${ProductForm}" >
    <h2>商品登録</h2>
    <label>商品名</label>
    <input type="text" th:field="*{name}">
    <label>価格</label>
    <input type="number" th:field="*{price}">
    <button type="submit">登録</button>
  </form>

</body>
</html>