<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>商品詳細</title>

</head>

<body>
  <h1>商品詳細</h1>
  <div class="card">
    <form action = "/cart" method = "post">
    <p>商品名</p>
    <span th:text = "${product.name}"></span>
    <p>価格：</p>
    <span th:text = "${product.price}" + "円"></span>
    <p>数量：</p>
    <input type="number" name="quantity" value="1" min="1"> 

    <button type = "submit">カートに追加</button>
    <button class="back">一覧へ戻る</button>
    </form>
  </div>
</body>

</html>