<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>商品詳細</title>

</head>

<body>
  <h1>商品詳細</h1>
  <div class="card">
    <form th:action = "/cart" th:object = "${cartForm}" method = "post">
    <input type = "hidden" th:field = "*{productId}" th:value="${product.id}">

    <p>商品名</p>
    <span th:text="${product.name}"></span>
    <p>価格</p>
    <span th:text="${product.price} + '円'"></span>
    <p>数量</p>
    <input type="number" th:field="*{quantity}" min="1">

    <button type = "submit">カートに追加</button>
    </form>

    <a th:href="@{/products}">一覧へ戻る</a>
  </div>
</body>

</html>